{% extends 'layouts/main.html' %}
{% load static %}
{% block body %} 

<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
                {% comment %} <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                  style="z-index: 1;">
                  Edit profile
                </button> {% endcomment %}

                <a href="#" class="btn btn-outline-dark mt-1" data-bs-toggle="modal" data-bs-target="#editaddressModal{{ user.id }}" data-mdb-ripple-color="dark" style="z-index: 1;">Edit Profile</a>
             
                <div class="modal fade" id="editaddressModal{{ user.id }}" tabindex="-1" aria-labelledby="editaddressModalLabel{{ user.id }}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="editaddressModalLabel{{ user.id }}">Edit Profile</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {% comment %} <form action="{% url 'edit_address' address.id %}" method="POST" enctype="multipart/form-data"> {% endcomment %}
                          {% csrf_token %}
                          <input type="hidden" name="address_id" value="{{ user.id }}">
                          <div class="form-group">
                            <label for="editaddressName{{ user.id }}" class="form-label">Name</label>
                            <input type="text" class="form-control" id="editaddressName{{ user.id }}" name="name" value="{{ address.full_name }}" style="margin-bottom:10px;" required>
                          </div>

          
                          <div class="form-group">
                            <label for="editaddressName{{ user.id }}" class="form-label">Email</label>
                            <input type="text" class="form-control" id="editaddressName{{ user.id }}" name="email" value="{{ address.email }}" style="margin-bottom:10px;" required>
                          </div>

                          <div class="form-group">
                            <label for="editaddressName{{ user.id }}" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="editaddressName{{ user.id }}" name="phone" value="{{ address.phone }}" style="margin-bottom:10px;" required>
                          </div>
                          

                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">Save Changes</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  <a class="mb-1 h5" href="{% url 'address' %}">Address</a>
                </div>
                <div class="px-3">
                  <a class="mb-1 h5" href="{% url 'order_detail' %}">Orders</a>
                </div>
   
                <div class="px-3">
                  <a class="mb-1 h5" href="{% url 'wishlist' %}">Wishlist</a>
              </div>
            </div>

            <div class="card-body p-4 text-black">
              <div class="mb-5">
                <p class="lead fw-normal mb-1">About</p>
                <div class="p-4" style="background-color: #f8f9fa; display: flex; justify-content: space-between; align-items: center;">
                  <div>
                    <p class="font-italic mb-1">{{user.name}}</p>
                    <p class="font-italic mb-1">{{user.email}}</p>
                    <p class="font-italic mb-0">{{user.phone}}</p>
                  </div>
                  {% comment %} <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">
                    Logout
                  </button>
                   {% endcomment %}
                <!--Delete user address-->
                  <input type="submit" class="btn btn-outline-dark" value="Logout" data-toggle="modal" data-target="#myModal"></input>
                  <input type="submit" class="btn btn-outline-dark" value="password" data-toggle="modal" data-target="#ChangePassword"></input>
                  <input type="submit" class="btn btn-outline-dark" value="wallet" data-toggle="modal" data-target="#Wallet"></input>



                  <div class="modal" tabindex="-1" role="dialog" id="myModal">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Delete Address</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <form action="{% url 'handlelogout' %}" method="POST">{% csrf_token %}
                        <div class="modal-body">
                          <p>Are you shure you want to logout?</p>
                        </div>
                        <div class="modal-footer">
                          <input type="submit" class="btn btn-danger" value="Continue"></input>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </form>
                      </div>
                    </div>
                  </div>

                  <!--wallet-->
                  <div class="modal" tabindex="-1" role="dialog" id="Wallet">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Wallet Amount</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Your Wallet Amount : ₹{{wallet.wallet_amount}}</p>
                        </div>
                        <div class="modal-footer">
                          {% comment %} <input type="submit" class="btn btn-danger" value="Continue"></input> {% endcomment %}
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </form>
                      </div>
                    </div>
                  </div>


                  <!--edit profile-->
                  <div class="modal" tabindex="-1" role="dialog" id="myProfile">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Edit Profile</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <form action="{% url 'edit_profile' %}" method="POST">{% csrf_token %}
                        <div class="modal-body">
                          <div class="modal-body">
                            {% comment %} <form action="{% url 'edit_address' address.id %}" method="POST" enctype="multipart/form-data"> {% endcomment %}
                              {% csrf_token %}
                              <input type="hidden" name="address_id" value="{{ user.id }}">
                              <div class="form-group">
                                <label for="editaddressName{{ user.id }}" class="form-label">Name</label>
                                <input type="text" class="form-control" id="editaddressName{{ user.id }}" name="name" value="{{ user.name }}" style="margin-bottom:10px;" required>
                              </div>
    
              
                              <div class="form-group">
                                <label for="editaddressName{{ user.id }}" class="form-label">Email</label>
                                <input type="text" class="form-control" id="editaddressName{{ user.id }}" name="email" value="{{ user.email }}" style="margin-bottom:10px;" required>
                              </div>
    
                              <div class="form-group">
                                <label for="editaddressName{{ user.id }}" class="form-label">Phone</label>
                                <input type="text" class="form-control" id="editaddressName{{ user.id }}" name="phone" value="{{ user.phone }}" style="margin-bottom:10px;" required>
                              </div>
                              
    
                            </div>
                            <div class="modal-footer">
                              <input type="submit" class="btn btn-success" value="Save"></input>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </form>

                        </div>
                      
                      </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock body %}