{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>AdminLogin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
  
  <link rel="stylesheet" href="{% static '/css/login.css'%}">
</head>
<body>
  <div class="container">
    <h2>AdminLogin</h2>
    <form method="post" action="{% url 'admin_login'%}" onsubmit="return validateForm();">
      {% csrf_token %}
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Enter your email" required>
        <p id="email_error" style="display: none;"></p>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="pass1" class="form-control" placeholder="Enter your password" required>
        <p id="password_error" style="display: none;"></p>
      </div>
      <div class="col text-right">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="col text-right">

          <div class="form-group">
            Login with OTP 
            <a href="{%url 'handlesignup'%}">Click here</a>
          </div>
          <div class="form-group">
            Forgot Password? 
            <a href="{%url 'handlesignup'%}">Change Password</a>
          </div>
        </div>
      </div>
    </form>
  </div>

{% comment %} <div style="z-index: -1000; position: absolute;">
  {% for message in messages %}
  <div class="hidden-alert message-{{message.tags}}" data-tags="{{ message.tags }}" data-message="{{ message }}">{{message}}</div>
  {% comment %} <div class="hidden-alert message-{{message.tags}}" data-tags="success" data-message="This is a success message" data-button-url="{%url 'handlelogin'%}">please login</div> {% endcomment %}
  {% comment %} {% endfor %}
</div> {% endcomment %} 

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>


  <script>
  const errorMessages = 
    Array.from(document.querySelectorAll('.message-warning .message-error'))
    .map(el => el.dataset.message);
  
  const successMessageEl = document.querySelector('.message-success');
  const successMessage = successMessageEl?.dataset?.message;

  const isSuccess = !!successMessageEl;

    document.addEventListener("DOMContentLoaded", function() {
        var alerts = document.querySelectorAll(".hidden-alert");
        alerts.forEach(function(alert) {
            var tags = alert.dataset.tags;
            var message = alert.dataset.message;
            var buttonUrl = alert.dataset.buttonUrl; // Add this line to retrieve the button URL

            Swal.fire({
                icon: tags,
                title: message,
                showConfirmButton: isSuccess,
                
                timer: 3000,
                confirmButtonText: 'LOGIN',
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.href = "{%url 'handlelogin'%}"
              }
            });
        });
    });

// form validation
    function validateForm() {
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;
   
      var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (!email.match(emailRegex)) {
        showError("email_error", "Please enter a valid email address");
        return false;
      }

      var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,}$/;
      if (!password.match(passwordRegex)) {
        showError("password_error", "Password must be at least 6 characters and include numbers, uppercase letters, lowercase letters, and special characters.");
        return false;
      }
    }

    function showError(elementId, errorMessage) {
      var errorElement = document.getElementById(elementId);
      errorElement.innerHTML = errorMessage;
      errorElement.style.display = "block";

      setTimeout(function () {
        errorElement.innerHTML = "";
        errorElement.style.display = "none";
      }, 3000); // Display the error message for 3 seconds
    }
  </script>
</body>
</html>
