{% extends 'layouts/main.html' %}
{% load static %}

{% block body %}
    
    


	<section id="home-section" class="hero">
		<div class="home-slider js-fullheight owl-carousel">
		<div class="slider-item js-fullheight">
			<div class="overlay"></div>
		  <div class="container-fluid p-0">
			<div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
				<div class="one-third order-md-last img js-fullheight" style="background-image:url('{%static 'images/banner4.jpg' %}');">
				</div>
				<div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
					<div class="text">
						<span class="subheading">Fanzkart eCommerce Shop</span>
						<div class="horizontal">
							<h3 class="vr" style="background-image: url('{% static 'images/divider.jpg' %}');">EStablished Since 2000</h3>
						  <h1 class="mb-4 mt-3">Catch Your Own <br><span>Stylish &amp; Look</span></h1>
						  <p>Whether you're seeking a gentle breeze on a warm summer day or looking to enhance your home's decor, our curated collection has something for every need.</p>
						  
						  <p><a href="{% url 'store'%}" class="btn btn-primary px-5 py-3 mt-3">Discover Now</a></p>
						</div>
				  </div>
				</div>
			  </div>
		  </div>
		</div>

		<div class="slider-item js-fullheight">
			<div class="overlay"></div>
		  <div class="container-fluid p-0">
			<div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
				<div class="one-third order-md-last img js-fullheight" style="background-image:url('{%static 'images/banner5.jpg'%}');">
				</div>
				<div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
					<div class="text">
						<span class="subheading">Fanzkart eCommerce Shop</span>
						<div class="horizontal">
							<h3 class="vr" style="background-image: url(images/divider.jpg);">Best eCommerce Online Shop</h3>
						  <h1 class="mb-4 mt-3">A Thouroughly <span>Modern</span> Fan</h1>
						<p>Welcome to Fanzkart, your one-stop destination for high-quality, homely used fans. Nestled in the heart of comfort, we offer a wide selection of fans that bring both style and functionality to your home.</p>
						  
						  <p><a href="{% url 'store'%}" class="btn btn-primary px-5 py-3 mt-3">Shop Now</a></p>
						</div>
				  </div>
				</div>
			  </div>
		  </div>
		</div>
	  </div>
  </section>


    <section class="ftco-section bg-light">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">New Arrivals</h2>
			<p>Our new arrivals are here to elevate your home's comfort and aesthetics.</p>
		</div>
        </div>   		
    	</div>
    	<div class="container">
    		<div class="row">
				
				{% for product in products %}
                <div class="col-sm col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="{% url 'product_details' product.id %}" class="img-prod"><img class="img-fluid" src="{{ product.images.url }}" alt="Colorlib Template">
                            {% comment %} <span class="status">30%</span> {% endcomment %}
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 px-3">
                            <h3><a href="{% url 'product_details' product.id %}">{{ product.product_name }}</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc"></span><span class="price-sale">₹{{ product.product_price }}</span></p>
                                </div>
                            </div>
                            <p class="bottom-area d-flex px-3">
                                <a href="{% url 'product_details' product.id %}" class="buy-now text-center py-2">View Product<span><i class="fas fa-eye ml-1"></i></span></a>
                            </p>
                        </div>
                    </div> 
                </div>
                {% endfor %}
    		</div>
    	</div>
    </section>


    <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url('{% static 'images/bg_4.jpg' %}');'%}">
    	<div class="container">
    		<div class="row justify-content-center py-5">
    			<div class="col-md-10">
		    		<div class="row">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="10000">0</strong>
		                <span>Happy Customers</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="100">0</strong>
		                <span>Branches</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="1000">0</strong>
		                <span>Partner</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="100">0</strong>
		                <span>Awards</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>

		<hr>


		  
  {% endblock  %}












      {% comment %} <section id="home-section" class="hero">
		  <div class="home-slider js-fullheight owl-carousel">
	      <div class="slider-item js-fullheight">
	      	<div class="overlay"></div>
	        <div class="container-fluid p-0">
	          <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
	          	<div class="one-third order-md-last img js-fullheight" style="{%static 'background-image:url(images/bg_1.jpg);'%}">
	          	</div>
		          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          	<div class="text">
		          		<span class="subheading">Winkel eCommerce Shop</span>
		          		<div class="horizontal">
		          			<h3 class="vr" style="{%static 'background-image: url(images/divider.jpg);'%}">Stablished Since 2000</h3>
				            <h1 class="mb-4 mt-3">Catch Your Own <br><span>Stylish &amp; Look</span></h1>
				            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>
				            
				            <p><a href="{% url 'shop' %}" class="btn btn-primary px-5 py-3 mt-3">Discover Now</a></p>
				          </div>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div>

	      <div class="slider-item js-fullheight">
	      	<div class="overlay"></div>
	        <div class="container-fluid p-0">
	          <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
	          	<div class="one-third order-md-last img js-fullheight" style="{% static '' %}">
	          	</div>
		          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
		          	<div class="text">
		          		<span class="subheading">FanTastic eCommerce Shop</span>
		          		<div class="horizontal">
		          			<h3 class="vr" style="{% static 'background-image: url(images/divider.jpg)' %}">Best eCommerce Online Shop</h3>
				            <h1 class="mb-4 mt-3">A Thouroughly <span>Modern</span> Fan</h1>
				            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>
				            
				            <p><a href="#" class="{% static 'btn btn-primary px-5 py-3 mt-3' %}">Shop Now</a></p>
				          </div>
		            </div>
		          </div>
	        	</div>
	        </div>
	      </div>
	    </div>
    </section> {% endcomment %}
