{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>{% block title %} {% endblock title %}</title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Downy Shoes Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //custom-theme -->
	<link href="{% static '/css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static '/css/shop.css'%}" type="text/css" media="screen" property="" />
	<link href="{% static '/css/style7.css'%}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static '/css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome-icons -->
	<link href="{% static '/css/font-awesome.css'%}" rel="stylesheet">
	<!-- //font-awesome-icons -->
	<link href="//fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">


{% include "inc/navbar.html" %}

</head>

{% block body %}


{% include "inc/footer.html" %}


{% endblock body %}
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js'%}"></script>
	<!-- //js -->
	<!-- /nav -->
	<script src="{% static 'js/modernizr-2.6.2.min.js'%}"></script>
	<script src="{% static 'js/classie.js'%}"></script>
	<script src="{% static 'js/demo1.js'%}"></script>
	<!-- //nav -->
	<!-- cart-js -->
	<script src="{% static 'js/minicart.js'%}"></script>
	<script>
		shoe.render();

		shoe.cart.on('shoe_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->
	<!--search-bar-->
	<script src="{% static 'js/search.js'%}"></script>
	<!--//search-bar-->
	<script src="{% static 'js/responsiveslides.min.js'%}"></script>
	<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
	<!-- js for portfolio lightbox -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="{% static 'js/move-top.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js'%}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smoth-scrolling -->

	<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js'%}"></script>
