{% extends 'layouts/main.html' %}
{% load static %}
{% block body %} 
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 ftco-animate">
                <form action="{% url 'place_order' %}" class="billing-form" method="post">
                    {% csrf_token %}
                    <h3 class="mb-4 billing-heading">Billing Details</h3>
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input type="text" class="form-control" name="first_name" placeholder="Enter your first name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input type="text" class="form-control" name="last_name" placeholder="Enter your last name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
							<div class="form-group">
								<label for="country">Phone</label>
								<input type="text" class="form-control" name="phone" placeholder="Enter your phone number" required>
							</div>
						</div>
                        <div class="col-md-6">
							<div class="form-group">
								<label for="email">Email</label>
								<input type="email" class="form-control" name="email" placeholder="Enter your email" required>
							</div>
						</div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" name="address_line_1" placeholder="House number and street name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="address_line_2">Address Line 2</label>
                                <input type="text" class="form-control" name="address_line_2" placeholder="Apartment, suite, unit, etc. (optional)">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" name="country" placeholder="Enter your country" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control" name="state" placeholder="Enter your state" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" class="form-control" name="city" placeholder="Enter your city" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="order_note">Order Note</label>
                                <textarea class="form-control" name="order_note" rows="4" placeholder="Write your order note here (optional)"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cart-detail bg-light p-3 p-md-4">
                                <h3 class="billing-heading mb-4">Payment Method</h3>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio" class="mr-2">COD</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- Order Summary details here -->
                                <p>Total: ₹ {{ total }}</p>
                                <p>Tax: ₹ {{ tax }}</p>
                                <p>Grand Total: ₹ {{ grand_total }}</p>
                                <input type="submit" value="Place an order" class="btn btn-primary py-3 px-4">
                            </div>
                        </div>
                    </div>
                </form>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section> <!-- .section -->
{% endblock body %}
