{% extends 'layouts/main.html' %}
{% load static %}
{% block head %}
<style>


	.image-zoom-container {
		overflow: hidden;
	}
	
	.image-zoom-container img {
		transition: transform 0.3s ease-in-out;
	}
	
	.image-zoom-container:hover img {
		transform: scale(1.1);
	}
	
</style>
	<!-- aleartyfy js-->
	<!-- CSS -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
	<!-- Default theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

{% endblock head %}


{% block body %}


<div class="hero-wrap hero-bread" style="background-image: url('{% static 'images/bg_6.jpg' %}');">
	<div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span class="mr-2"><a href="index.html">Product</a></span> <span>Product Single</span></p>
            <h1 class="mb-0 bread">Product Single</h1>
          </div>
        </div>
      </div>
    </div>


    <section class="ftco-section">
    	<div class="container">
    		<div class="row">

 
				 {% comment %} <div class="col-lg-6 mb-5 ftco-animate"> 

    				<a href="images/menu-2.jpg" class="zoom" onmousemove="zoom(event)" onmouseout="resetZoom(event)"><img src="/media/{{ single_product.images }}" id="product-image" class="img-fluid" alt="Colorlib Template"></a>
    			
				</div> {% endcomment %}

				<div class="col-lg-6 mb-5">
					<div class="image-zoom-container">
						<a href="#">
							<img src="/media/{{ single_product.images }}" id="product-image" class="img-fluid" alt="Colorlib Template">
						</a>
					</div>
				</div>
				



				
    			<div class="col-lg-6 product-details pl-md-5 ftco-animate">
				<form action="{% url 'add_to_cart' single_product.id %}" method="POST">
						{% csrf_token %} 
    				<h3>{{ single_product.product_name }}</h3>
    	
    				<p class="price"><span>₹{{ single_product.product_price}}.00</span></p>
    				<p>{{ single_product.product_name }} {{ single_product.description }}</p>

					<div class="col-md-6">
						<div class="form-group d-flex">
							<div class="select-wrap">
								<div class="icon"><span class="fas fa-arrow-down"></span></div>
								<select name="variant" id="variant-select" class="form-control" required>
									<option value="">Select a Variant</option>
									{% for variant in variation %}
										<option value="{{ variant.id }}">{{ variant.variant_colour | capfirst }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						
						<!-- Add an empty <div> to display stock status -->
						<div id="stock-status"></div>
						<p style="color: #000;" id="variant-status"></p>
						<p id="variant-stock"> pieces available</p>
						</div>
					
					<div class="row align-items-end">
						<div class="col-md-6">
							<input type="submit" class="btn btn-black py-3 px-5 mt-2" name="action" value="Add to Wishlist"></input>
						</div>
						<input type="submit" id="add-to-cart-btn" class="btn btn-black py-3 px-5 mt-2" name="action" value="Add to Cart">

						</div>
					</div>
					

			</form>
	

          	</div>
    			</div>
    		</div>
			
    	</div>
    </section>

    <!-- aleartyfy js -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
      alertify.set('notifier','position', 'top-right');

      {% for msg in messages %}
          alertify.success('{{ msg }}');
      {% endfor %}
    </script>

<!--image zoom-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function() {
		$(".image-zoom-container").mousemove(function(event) {
			var imageWidth = $(this).find("img").width();
			var imageHeight = $(this).find("img").height();

			var offsetX = event.offsetX;
			var offsetY = event.offsetY;

			var zoomFactor = 2;
			var translateX = (imageWidth * zoomFactor - imageWidth) / 2 - offsetX * (zoomFactor - 1);
			var translateY = (imageHeight * zoomFactor - imageHeight) / 2 - offsetY * (zoomFactor - 1);

			$(this).find("img").css({
				transform: "scale(" + zoomFactor + ") translate(" + translateX + "px, " + translateY + "px)"
			});
		});

		$(".image-zoom-container").mouseleave(function() {
			$(this).find("img").css({
				transform: "scale(1) translate(0, 0)"
			});
		});
	});
</script>
	<!--=================================================================-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>

	<script>
		$(document).ready(function() {
			console.log("heloooooooooooooooooooooooooooooooooo")
			$('#variant-select').change(function() {
			  var selectedVariantId = $(this).val();
			  console.log(selectedVariantId)
			$('#cid').text(selectedVariantId)
			  // Perform an AJAX request to fetch the details of the selected variant
			  // Replace the URL with the actual endpoint that returns the variant details



			  $.ajax({
				url: '/get-variant-details',
				type: 'GET',
				data: { variantId: selectedVariantId },
		
				success: function(response)
				 {
				  // Update the product details on the page
				  var productImage = response.variant_image;
					  var variantName = response.variant_name;
					  var variantStock = response.variant_stock;
					  var variantStatus = response.variant_status;
					  var stockStatus = response.stock_status;

					  var stockMessage = stockStatus ? '' : 'Out of Stock';
					  var stockColor = stockStatus ? 'text-success' : 'text-danger';
					  $('#stock-status').html('<h3 class="' + stockColor + '">' + stockMessage + '</h3>');
  
					  // Toggle visibility of Add to Cart button
					  if (stockStatus) {
						  $('#add-to-cart-btn').show();
					  } else {
						  $('#add-to-cart-btn').hide();
					  }
					  
			   console.log(variantStock,'item stock')
		
				  // Update the image source and price text
				  $('#product-image').attr('src', productImage);
				  $('#variant-stock').text(variantStock + '  pieces available'); // Make sure to include the text "pieces available"
					},
					error: function(xhr, status, error) {
					  // Handle error response if needed
					}
				  });
				});
			  }
			  );

	</script>



  </body>
{% endblock body %}
</html>



   		