{% extends 'layouts/main.html' %}

{% load static %}
{% block head %}
        <!-- aleartyfy js-->
      <!-- CSS -->
      <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
      <!-- Default theme -->
      <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
{% endblock head %}
{% block body %}



 


      <div class="image"
        style="background-image: url('{% static 'images/shopbanner.png' %}'); height: 38rem; background-size: cover; background-position: center;">

      </div>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            
            <div class="col-md-4 col-lg-2 sidebar">
                <div class="sidebar-box-2">
                    <h2 class="heading mb-4"><a href="{% url 'store' %}">Categories</a></h2>
                    <ul>
                        <li><a href="{% url 'store' %}">All products</a></li>

                        {% for category in categories %}
                        <li><a href="{% url 'categories' category.id %}">{{ category.category_name  }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% for product in products %}
                <div class="col-sm col-md-6 col-lg ftco-animate">
                    <div class="product">
                   
                    
                        <a href="{% url 'product_details' product.id %}" class="img-prod"><img class="img-fluid" src="{{ product.images.url }}" alt="Colorlib Template">
                            {% comment %} <span class="status">30%</span> {% endcomment %}
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 px-3">
                            <h3><a href="{% url 'product_details' product.id %}">{{ product.product_name }}</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc"></span><span class="price-sale">₹{{ product.product_price }}</span></p>
                                </div>

                            </div>
                            <p class="bottom-area d-flex px-3">
                                {% comment %} <a href="{% url 'add_to_wishlist' product.id  %}" class="add-to-cart text-center py-2 mr-1"><span>Wishlist <i class="ion-ios-heart ml-1"></i></span></a> {% endcomment %}
                                {% comment %} <button class="add-to-wishlist" data-product-id="{{ product.id }}">Add to Wishlist</button> {% endcomment %}
                                <a href="{% url 'product_details' product.id %}" class="buy-now text-center py-2">View Product<span><i class="fas fa-eye ml-1"></i></span></a>
                            </p>
                        </div>
                    </div> 
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col text-center">
        <div class="block-27 mb-2 mt-5">
            {% if products.has_other_pages %}
                <ul>
                    {% if products.has_previous %}
                        <li><a href="?page={{products.previous_page_number}}">&lt;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a href="#">&lt;</a></li>
                    {% endif %}
    
                    {% for i  in products.paginator.page_range %}
                        {% if products.number == i %}
                            <li class="page-item active"><a href="#">{{i}}</a></li>
                        {% else %}
                            <li><a href="?page={{i}}">{{i}}</a></li>
                        {% endif %}    
                    {% endfor %}
    
                    {% if products.has_next %}     
                        <li><a href="?page={{products.next_page_number}}">&gt;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a href="#">&gt;</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <form method="post" action="{% url 'filter_products_by_price'%}">
            {% csrf_token %}
            <label for="price-min">Minimum Price:</label>
            <input type="number" name="price-min" id="price-min" value="{{ selected_price_filter.min|default:1000 }}" min="0" max="1000000" style="background-color: #686e78">
    
            <label for="price-max">Maximum Price:</label>
            <input type="number" name="price-max" id="price-max" value="{{ selected_price_filter.max|default:1000000 }}" min="0" max="1000000" style="background-color: #686e78">
    
            <input type="submit" data-inline="true" value="Submit" style="background-color: #ffa45c">
        </form>
    </div>    
    
</section>



    <!-- aleartyfy js -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
      alertify.set('notifier','position', 'top-right');

      {% for msg in messages %}
          alertify.success('{{ msg }}');
      {% endfor %}
    </script>

{% endblock body %}



