{% extends 'Admin/adminlayouts/main.html' %}
{% block title %}Product{% endblock title %}
{% block body %}

<div class="card">
  <div class="card-header">
    <h4>Product List</h4>
    <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#addProductModal">Add New Product</button>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Category</th>
          <th scope="col">NewArrival</th>
          <th scope="col">Brand</th>
          <th scope="col">Description</th>
          <th scope="col">MRP</th>
          <th scope="col">Stock</th>
          {% comment %} <th scope="col">Offer Price</th> {% endcomment %}
          <th scope="col">Image</th>
          {% comment %} <th scope="col">Actions</th> {% endcomment %}
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{ product.product_name }}</td>
          {% comment %} <td>{{ product.product_brand.brand_name }}</td> {% endcomment %}
          <td>{{ product.category.category_name }}</td>
          <td>{{ product.new_arrival }}</td>
          <td>{{ product.brand }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.stock}}</td>
          {% comment %} <td>{{ product.quantity }}</td> {% endcomment %}
          {% comment %} <td>{{ product.offer_price }}</td> {% endcomment %}
          <td class="align-middle"><img src="/media/{{ product.images}}" alt="{{ product.images}}" width="70px" height="70px"></td>
          {% comment %} <td>
            {% if product.product_status %}
                 active
                 {% else %}
                 Inactive
            {% endif %}</td> {% endcomment %}
            <td>
            <a href="#" class="btn btn-outline-dark mt-3" data-bs-toggle="modal" data-bs-target="#editProductModal" onclick="editProductModal({{ product.id }})">Edit</a>
            {% comment %} <a href="{% url 'product_block' product.id %}" type="button" class="btn btn-info mt-3 mr-4" data-bs-toggle="modal" data-bs-target="#deleteProductModal" onclick="deleteProductModal({{ product.id }})">list</a> {% endcomment %}
            {% comment %} <button type="button" class="btn btn-info mt-3 mr-4" data-bs-toggle="modal" data-bs-target="#deleteProductModal"
              data-product-id="{{ product.id }}" onclick="deleteProductModal({{ product.id }})">list</button> {% endcomment %}

              {% comment %} <button type="button" class="btn btn-info mt-3 mr-4" data-bs-toggle="modal" data-bs-target="#deleteProductModal"
              data-product-id="{{ product.id }}" onclick="toggleProductStatus({{ product.id }})" id="listButton"> {% endcomment %}
              {% comment %} <a href='/product_block/{{product.id}}'  class='btn'> List</a>
              {% if product.is_available %}
                List
              {% else %}
                Unlist
              {% endif %}
            </button> {% endcomment %}
                  {% if product.is_available %}
                    <a href="{% url 'product_block' d.id %}" class="btn btn-outline-danger mx-1">Block</a>
                  {% else %} 
                    <a href="{% url 'product_unblock' d.id %}"  class="btn btn-outline-success mx-1">Unblock</a>
                  {% endif %}

            
            {% comment %} <button type="button" class="btn btn-info mt-3 mr-4" data-bs-toggle="modal" data-bs-target="#deleteProductModal{{ product.id }}" onclick="deleteProductModal({{ product.id }})">list</button> {% endcomment %}

            {% comment %} <a href="{% url 'product_block' product.id %}" type="button" class="btn btn-info mt-3 mr-4" data-bs-toggle="modal" data-bs-target="#deleteProductModal">list</a> {% endcomment %}
            
            

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% comment %} <script>
  // Function to handle the "list" button click and update the <p> element with the product ID
  function deleteProductModal(productId) {
    // Update the value of the hidden input field with the product ID
    document.getElementById('deleteproduct_id').value = productId;
    
    // Update the content of the <p> element with the product ID
    document.getElementById('product_id_display').textContent = "Product ID: " + productId;
    
    // Show the delete product modal
    $('#deleteProductModal').modal('show');
  }
</script> {% endcomment %}

{% comment %} <script>
  // Function to handle the "list" button click and update the <p> element with the product ID
  function toggleProductStatus(productId) {
  $.ajax{
    url:'/product_block',
    data: productId:productId,
    method:POST,
    success:(response){

    }
  }
  }
</script> {% endcomment %}



<!-- Add Product Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Add form fields here -->
        <form method="POST" action="{% url 'product_edit' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="product_name">Product Name</label>
            <input type="text" class="form-control" id="product_name" name="product_name" required>
          </div>

          <div class="form-group">
            <label for="product_category">Category</label>
            <select class="form-control" id="product_category" name="product_category" required>
              {% for category in categories %}
                <option value="{{ category.id }}">{{ category.category_name }}</option>
              {% endfor %}
            </select> 
          </div>

          <div class="form-group">
            <label for="product_new_arrival">New Arrival</label>
            <select class="form-control" id="product_new_arrival" name="product_new_arrival" required>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select> 
          </div>



          <div class="form-group">
            <label for="product_brand">Brand</label>
            <select class="form-control" id="product_brand" name="product_brand" required> 
              {% for brand in brands %}
                <option value="{{ brand.id }}">{{ brand.product_brand }}</option>
              {% endfor %}
            </select> 
          </div>

          <div class="form-group">
            <label for="editProductDescription" class="form-label">Product Description</label>
            <textarea class="form-control" id="editProductDescription" name="product_description" rows="4" required></textarea>
          </div>

          <div class="form-group">
            <label for="product_mrp">MRP</label>
            <input type="number" class="form-control" id="product_mrp" name="product_mrp" required>
          </div>

          <div class="form-group">
            <label for="product_discount">Stock</label>
            <input type="number" class="form-control" id="quantity" name="product_quantity" required>
          </div>

          <div class="form-group">
            <label for="productImage" class="form-label">Product Image</label>
            <input type="file" class="form-control" id="productImage" name="product_image">
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Product Modal -->
<div class="modal fade" id="editProductModal{{product.id}}" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <form action= "product/edit/{{ product.id }}" method="post" enctype="multipart/form-data">
        <h5 class="modal-title" id="editProductModalLabel">Edit Product</h5>
        {% csrf_token %}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Edit form fields here -->
        <!-- You can customize the form fields for editing the product -->
        {% comment %} <form action="{% url 'edit_product' product.id %}"> {% endcomment %}
        <input type="hidden" id="editproduct_id" name="product_id" value="">
          <div class="form-group">
            <label for="editProductName" class="form-label">Product Name</label>
            <select class="form-control" id="editProductName" name="product_name" style="margin-bottom:10px ;">
              <option value="">Select product</option>
              {% for product in products %}
              <option value="{{ product.id }}">{{ product.product_name }}</option>
              
            </select>
          </div>
          <div class="form-group">
            <label for="editProductBrand">Brand:</label>
            <select class="form-control" id="editProductBrand" name="product_brand">
              <option value="">Select brand</option>
              {% for brand in brand %}
              <option value="{{ brand.id }}">{{ brand.brand_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="editProductCategory">Category:</label>
            <select class="form-control" id="editProductCategory" name="product_category">
              <option value="">Select category</option>
              {% for category in categories %}
              <option value="{{ category.id }}">{{ category.category_name }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="editProductDescription" class="form-label">Product Description</label>
            <textarea class="form-control" id="editProductDescription" name="product_description" rows="4" required></textarea>
          </div>
          <div class="form-group">
            <label for="editProductMRP" class="form-label">MRP</label>
            <input type="number" step="0.01" class="form-control" id="editProductMRP" name="product_mrp" required>
          </div> 
          <div class="form-group">
            <label for="editProductOfferPrice" class="form-label">stock</label>
            <input type="number" step="0.01" class="form-control" id="editProductOfferPrice" name="product_offer_price" required>
          </div>
          <div class="form-group">
            <label for="editProductOfferPrice" class="form-label">Images</label>
            <input type="file"  class="form-control" id="editProductOfferPrice" name="product_images" required>
          </div>
          <div class="form-group">
            <label for="existingImage" class="form-label">Existing Image</label>
            <img src="/media/{{ product.images}}" alt="{{ product.images}}" width="50px" height="50px">
            </div>
          {% endfor %}  
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save Changes</button>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </form>
    
    </div>
  </div>
</div>

<!-- Delete Product Modal -->
{% comment %} <div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProductModalLabel">Delete Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Delete confirmation message here -->
        <!-- You can customize the confirmation message for deleting the product -->
        <p>Are you sure you want to Unlist this product?</p>
        <form action="{% url 'product_block' %}" method="post" id="deleteProductForm">
          {% csrf_token %}
          <!-- Hidden input field to store the product ID -->
          <input type="text" id="deleteproduct_id" hidden name="product_id" value="">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Unlist</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </form>
      </div>
    </div>
  </div>
</div> {% endcomment %}


<div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProductModalLabel">Toggle Product Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Toggle confirmation message here -->
        <!-- You can customize the confirmation message for toggling the product status -->
        <p>Are you sure you want to {% if product.is_available %}List{% else %}Unlist{% endif %} this product?</p>
        <form action="" method="post" id="deleteProductForm">
          {% csrf_token %}
          <!-- Hidden input field to store the product ID -->
          <input type="hidden" id="product_id" name="product_id" value="">
          <!-- Hidden input field to store the current unlisted status -->
          <input type="hidden" id="is_available" name="is_available" value="{{ product.is_available }}">
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" form="deleteProductForm">Toggle Status</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


{% comment %} 
<!-- Delete Product Modal -->
<div class="modal fade" id="deleteProductModal{{ product.id }}" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProductModalLabel">Delete Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Delete confirmation message here -->
        <!-- You can customize the confirmation message for deleting the product -->
        <p>Are you sure you want to Unlist this product?</p>
        <form action="{% url 'product_block' %}" method="post">
          {% csrf_token %}
          <input type="hidden" id="deleteproduct_id" name="product_id" value="{{product.id}}">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Unlist</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </form>
      </div>
      
    </div>
  </div>
</div> {% endcomment %}
{% endblock body %}

<!-- Button to trigger the delete modal -->

