

{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
  <link rel="stylesheet" href="{% static '/css/login.css'%}">
</head>
<body>
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form method="post" action="{% url 'handlelogin'%}" onsubmit="return validateForm();">
          {% csrf_token %}
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Enter your email" required />
            <label class="form-label" for="email">Email address</label>
            <p id="email_error" style="display: none;"></p>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="password" name="pass1" class="form-control form-control-lg" placeholder="Enter your password" required />
            <label class="form-label" for="password">Password</label>
            <p id="password_error" style="display: none;"></p>
          </div>

          <div class="d-flex justify-content-start align-items-start mb-4">
            <!-- Checkbox -->

              <div> 
                  <div>Not a user? <a href="{% url 'handlesignup'%}">Sign up</a></div>
                  <div>Login with OTP <a href="{% url 'handlesignup'%}">Click here</a></div>
                  <div>Forgot password? <a href="{% url 'forgot_password'%}">Click here</a></div>

                
              </div>
          </div>


          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

          
        </form>
      </div>
    </div>
  </div>
</section>


  <div style="z-index: -1000; position: absolute;">
    {% for message in messages %}
    <div class="hidden-alert message-{{message.tags}}" data-tags="{{ message.tags }}" data-message="{{ message }}">{{message}}</div>
    {% endfor %}
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>

  <script>
    // Your JavaScript code here
    const errorMessages = 
    Array.from(document.querySelectorAll('.message-warning .message-error'))
    .map(el => el.dataset.message);
  
  const successMessageEl = document.querySelector('.message-success');
  const successMessage = successMessageEl?.dataset?.message;

  const isSuccess = !!successMessageEl;

    document.addEventListener("DOMContentLoaded", function() {
        var alerts = document.querySelectorAll(".hidden-alert");
        alerts.forEach(function(alert) {
            var tags = alert.dataset.tags;
            var message = alert.dataset.message;
            var buttonUrl = alert.dataset.buttonUrl; // Add this line to retrieve the button URL

            Swal.fire({
                icon: tags,
                title: message,
                showConfirmButton: isSuccess,
                
                timer: 3000,
                confirmButtonText: 'LOGIN',
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.href = "{%url 'handlelogin'%}"
              }
            });
        });
    });

// form validation
    function validateForm() {
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;
   
      var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (!email.match(emailRegex)) {
        showError("email_error", "Please enter a valid email address");
        return false;
      }

      var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,}$/;
      if (!password.match(passwordRegex)) {
        showError("password_error", "Password must be at least 6 characters and include numbers, uppercase letters, lowercase letters, and special characters.");
        return false;
      }
    }

    function showError(elementId, errorMessage) {
      var errorElement = document.getElementById(elementId);
      errorElement.innerHTML = errorMessage;
      errorElement.style.display = "block";

      setTimeout(function () {
        errorElement.innerHTML = "";
        errorElement.style.display = "none";
      }, 3000); // Display the error message for 3 seconds
    }

  </script>
</body>
</html>
