{%load static%}
<!DOCTYPE html>
<html>
<head>
  <title>signup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
   
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">

  <link rel="stylesheet" href="{% static '/css/login.css'%}">
</head>
<body>

   <div class="container">
    <h2>Signup</h2>
    <form method="post" action="{% url 'handlesignup'%}" onsubmit="return validateForm();">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Enter your name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required>
        <p id="email_error" style="display: none;"></p>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" class="form-control" placeholder="Enter your phone number" required>
        <p id="phone_error" style="display: none;"></p>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="pass1" class="form-control" placeholder="Enter your password" required>
        <p id="password_error" style="display: none;"></p>
      </div>
      <div class="form-group">
        <label for="confirm password">Confirm password</label>
        <input type="password" id="confirm_password" name="pass2" class="form-control" placeholder="Enter confirm password" required>
        <p id="confirm_password_error" style="display: none;"></p>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Signup</button>
      </div>
      <div class="col text-right">
        <div class="form-group">
          Already a user ?
          <a href="{% url 'handlelogin'%}">login</a>
        </div>
      </div>
    </form>
  </div>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script> {% endcomment %}
</body>
</html>

<!-- Your HTML code -->



<div style="z-index: -1000; position: absolute;">
  {% for message in messages %}
  <div class="hidden-alert message-{{message.tags}}" data-tags="{{ message.tags }}" data-message="{{ message }}">{{message}}</div>
  {% comment %} <div class="hidden-alert message-{{message.tags}}" data-tags="success" data-message="This is a success message" data-button-url="{%url 'handlelogin'%}">please login</div> {% endcomment %}
  {% endfor %}
</div>


<!-- Remaining HTML code -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>

<script>

  const errorMessages = 
    Array.from(document.querySelectorAll('.message-warning .message-error'))
    .map(el => el.dataset.message);
  
  const successMessageEl = document.querySelector('.message-success');
  const successMessage = successMessageEl?.dataset?.message;

  const isSuccess = !!successMessageEl;

    document.addEventListener("DOMContentLoaded", function() {
        var alerts = document.querySelectorAll(".hidden-alert");
        alerts.forEach(function(alert) {
            var tags = alert.dataset.tags;
            var message = alert.dataset.message;
            var buttonUrl = alert.dataset.buttonUrl; // Add this line to retrieve the button URL

            Swal.fire({
                icon: tags,
                title: message,
                showConfirmButton: isSuccess,
                showCancelButton: !isSuccess,
                timer: 7000,
                confirmButtonText: 'LOGIN',
            }).then((result) => {
              if (result.isConfirmed) {
                window.location.href = "{%url 'handlelogin'%}"
              }
            });
        });
    });

  // form validation
    function validateForm() {
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;
      var confirm_password = document.getElementById("confirm_password").value;
      var phone = document.getElementById("phone").value;

      var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (!email.match(emailRegex)) {
        showError("email_error", "Please enter a valid email address");
        return false;
      }

      var phoneRegex = /^\d{10}$/;
      if (!phone.match(phoneRegex)) {
       showError("phone_error", "Please enter a valid 10-digit mobile number");
       return false;
      }


      var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,}$/;
      if (!password.match(passwordRegex)) {
        showError("password_error", "Password must be at least 6 characters combination of numbers and special characters.");
        return false;
      }
      if (password !== confirm_password) {
        showError("confirm_password_error", "Passwords do not match.");
        return false;
      }
      return true;
    }

    function showError(elementId, errorMessage) {
      var errorElement = document.getElementById(elementId);
      errorElement.innerHTML = errorMessage;
      errorElement.style.display = "block";

      setTimeout(function () {
        errorElement.innerHTML = "";
        errorElement.style.display = "none";
      }, 3000); // Display the error message for 3 seconds
    }

</script>

